.left-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: black;
}

/* CSS for left container nav bar */

.left-container-nav-bar {
  flex: 2;
  padding-left: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.search-icon {
  flex: 2;
  text-align: right;
  margin-right: 5px;

}


.search-input input{
    border: none;
    width: 300px;
    border-radius: 50px;
    padding: 10px;
    font-size: 14px;
    
    color: white;
    background-color:#2c2929;
}

.location-icon {
    padding: 5px;
    text-align: right;
    border-radius: 50px;
    flex:2;
    display: flex;
    cursor: pointer;
    background-color:green;
    flex-direction: row;
}
.location-icon img{
    padding: 2px;
    width: 18px;
    height: 18px;
}
.location-icon-text{

    font-size: 11px;
    font-weight: semi-bold;
    color: black;
    padding: 5px;
}
/* ======================================================================================== */
/* CSS for left container data */

.left-container-data-box {
  flex: 12;
  display: flex;
  margin-left: 30px;
  margin-right: 30px;
  flex-direction: column;
}

/* Temperature Data: Image, Value and Day-Time */
.left-container-temp-data{
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #2c2929;
  border-radius: 40px;
  padding: 20px;
}
.left-container-temp-img{
  flex: 2;
  padding-left: 70px;
}

.left-container-temp-img img{
  width: 160px;
  height: 160px;
}

.left-container-temp-value{
  flex: 1;
  font-size: 62px;
  font-weight: normal;
  color: white;
}

.left-container-temp-value sup{
  position: relative;
  top: 3px;
  font-size: 36px;
  color: white;
}

.left-container-day-time{
  flex: 1;
  font-weight: 500;
  color: white;
  font-size: 14px;
}
.left-container-day-time span{
  color: white;
}

.dividing-line{
  height: 1px;
  width: 100%;
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Temperature Details: Summary Phrase, Rain Value, Location Image and Location Details */
.left-container-other-details{
  flex: 1;
  display: flex;
  background-color: #2c2929;
  border-radius: 40px;
  flex-direction: column;
  margin-bottom: 20px;
}
.left-container-temp-summary{
  flex: 1;
  display: flex;
 
  flex-direction: row;
  font-size: smaller;
  font-weight: 500;
}
.left-container-temp-summary-value{
  flex: 3;
  padding-top: 20px;
  color: white;
}
.left-container-temp-summary-phrase-img{
  
  padding: 20px;
}
.left-container-rain-stats{
  flex: 1;
  display: flex;
  flex-direction: row;
  font-size: smaller;
  font-weight: 500;
  color: white;
}
left-container-rain-stats-value{
  
  color: white;
}
.left-container-rain-stats-img{
  
  padding-left: 20px;
  margin-right: 10px;
}
.left-container-location-details{
  flex: 4;
  text-align: center;
}
.left-container-location-img{
  margin-top: 50px;
  
}
.left-container-location-img img{
  width: 250px;
  height: 100px;
  border-radius: 20px;
}
.left-container-location-name{
  margin-top: -60px;
  font-size: medium;
  font-weight: semi-bold;
  color: black;
}
